.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #e096e044, #cea5e9ac);
}
.app-heading {
  color: #700270;
  font-size: 50px;
  font-weight: bold;
}
.chart-container {
  width: 90%;
}